table,td,th{
    border: 2px;
    border-style: groove;
    box-shadow: 2px 2px #000000;
    text-align:center;
}
table{
    margin:auto;
}
button{
    padding: 5px 100px 5px 100px;
}
#answer{
    text-align: right;
    column-fill:auto;
}
#clear{

}